<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/recipeMain.css">
    <!-- <link rel="stylesheet" href="../css/responsive.css"> -->
</head>

<body>
    <header>
        <h1>
            <a href="/frontend/views/index.html">Smooocha Recp</a>
        </h1>
        <div class="navbar-links">
            <a style="background-color: rgb(226, 201, 162);" class="btn navbar-link" href="index.html">Home</a>
            <a class="navbar-link" href="login.html">Log In</a>
            <a class="btn navbar-link" href="signup.html">Sign Up</a>
        </div>
    </header>

    </nav>
    <h1 id="wlcm-heading">Let's get cooking!</h1>
    <!-- <div class="selection-div">
        <div class="box">
            <i></i>
            Special
        </div>
        <div class="box">
            <i></i>
            Special
        </div>
        <div class="box">
            <i></i>
            Special
        </div>
        <div class="box">
            <i></i>
            Special
        </div>
    </div> -->

    <div class="main-container-recipe">
        <!-- <div class="recipe1">
            <div class="in1">
                <img src="/frontend/biryani1.png" alt="">
                <li><a href="newpage.html?id=1">Shahi Veg Biryani</a></li>
            </div>
            <div class="ou2">
                <ul>
                    <li>Cooking Time: 30 min</li>
                    <li>Beginner Friendly</li>
                </ul>
                <ul>
                    <li>Budget: 300-400 INR</li>
                    <li>Rating: 4.6/5.0</li>
                </ul>
            </div>
        </div>
        <div class="recipe1">
            <div class="in1">
                <img src="/frontend/biryani1.png" alt="">
                <li><a href="newpage.html?id=2">Shahi Veg Biryani</a></li>
            </div>
            <div class="ou2">
                <ul>
                    <li>Cooking Time: 30 min</li>
                    <li>Beginner Friendly</li>
                </ul>
                <ul>
                    <li>Budget: 300-400 INR</li>
                    <li>Rating: 4.6/5.0</li>
                </ul>
            </div>
        </div>
        <div class="recipe1">
            <div class="in1">
                <img src="/frontend/biryani1.png" alt="">
                <li><a href="newpage.html?id=3">Shahi Veg Biryani</a></li>
            </div>
            <div class="ou2">
                <ul>
                    <li>Cooking Time: 30 min</li>
                    <li>Beginner Friendly</li>
                </ul>
                <ul>
                    <li>Budget: 300-400 INR</li>
                    <li>Rating: 4.6/5.0</li>
                </ul>
            </div>
        </div> -->
        <!-- <div class="recipe1">
            <div class="in1">
                <img src="/frontend/biryani1.png" alt="">
                <li><a href="newpage.html?id=4">Shahi Veg Biryani</a></li>
            </div>
            <div class="ou2">
                <ul>
                    <li>Cooking Time: 30 min</li>
                    <li>Beginner Friendly</li>
                </ul>
                <ul>
                    <li>Budget: 300-400 INR</li>
                    <li>Rating: 4.6/5.0</li>
                </ul>
            </div>
        </div>
        <div class="recipe1">
            <div class="in1">
                <img src="/frontend/biryani1.png" alt="">
                <li><a href="newpage.html?id=5">Shahi Veg Biryani</a></li>
            </div>
            <div class="ou2">
                <ul>
                    <li>Cooking Time: 30 min</li>
                    <li>Beginner Friendly</li>
                </ul>
                <ul>
                    <li>Budget: 300-400 INR</li>
                    <li>Rating: 4.6/5.0</li>
                </ul>
            </div>
        </div>
        <div class="recipe1">
            <div class="in1">
                <img src="/frontend/biryani1.png" alt="">
                <li><a href="newpage.html?id=6">Shahi Veg Biryani</a></li>
            </div>
            <div class="ou2">
                <ul>
                    <li>Cooking Time: 30 min</li>
                    <li>Beginner Friendly</li>
                </ul>
                <ul>
                    <li>Budget: 300-400 INR</li>
                    <li>Rating: 4.6/5.0</li>
                </ul>
            </div>
        </div>
        <div class="recipe1">
            <div class="in1">
                <img src="/frontend/biryani1.png" alt="">
                <li><a href="newpage.html?7">Shahi Veg Biryani</a></li>
            </div>
            <div class="ou2">
                <ul>
                    <li>Cooking Time: 30 min</li>
                    <li>Beginner Friendly</li>
                </ul>
                <ul>
                    <li>Budget: 300-400 INR</li>
                    <li>Rating: 4.6/5.0</li>
                </ul>
            </div>
        </div>
        <div class="recipe1">
            <div class="in1">
                <img src="/frontend/biryani1.png" alt="">
                <li><a href="newpage.html?id=8">Shahi Veg Biryani</a></li>
            </div>
            <div class="ou2">
                <ul>
                    <li>Cooking Time: 30 min</li>
                    <li>Beginner Friendly</li>
                </ul>
                <ul>
                    <li>Budget: 300-400 INR</li>
                    <li>Rating: 4.6/5.0</li>
                </ul>
            </div>
        </div>
        <div class="recipe1">
            <div class="in1">
                <img src="/frontend/biryani1.png" alt="">
                <li><a href="newpage.html">Shahi Veg Biryani</a></li>
            </div>
            <div class="ou2">
                <ul>
                    <li>Cooking Time: 30 min</li>
                    <li>Beginner Friendly</li>
                </ul>
                <ul>
                    <li>Budget: 300-400 INR</li>
                    <li>Rating: 4.6/5.0</li>
                </ul>
            </div>
        </div>
        <div class="recipe1">
            <div class="in1">
                <img src="/frontend/biryani1.png" alt="">
                <li><a href="newpage.html">Shahi Veg Biryani</a></li>
            </div>
            <div class="ou2">
                <ul>
                    <li>Cooking Time: 30 min</li>
                    <li>Beginner Friendly</li>
                </ul>
                <ul>
                    <li>Budget: 300-400 INR</li>
                    <li>Rating: 4.6/5.0</li>
                </ul>
            </div>
        </div>
        <div class="recipe1">
            <div class="in1">
                <img src="/frontend/biryani1.png" alt="">
                <li><a href="newpage.html">Shahi Veg Biryani</a></li>
            </div>
            <div class="ou2">
                <ul>
                    <li>Cooking Time: 30 min</li>
                    <li>Beginner Friendly</li>
                </ul>
                <ul>
                    <li>Budget: 300-400 INR</li>
                    <li>Rating: 4.6/5.0</li>
                </ul>
            </div>
        </div> -->

    </div>
    <footer>
        Copyright 2025 by KarTech Smoocha
    </footer>
    <!-- <script src="../js/recipes.js"></script> -->
    <!-- <script src="../js/newPage.js"></script> -->
    <script src="../js/recipeList.js" ></script>
</body>

</html>